<nav  class="navbar navbar-expand navbar-light  NavContainer">
  <div class="nav navbar-nav NavBar">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" href="Index" aria-current="page"><img class="logoNav" src="/assets/logoEmma.png" alt=""></a>
    </div>

    <label (click)="toggleMenu()" id="menuImg">
      <img src="/assets/Menubar/menu.png" class="menuImg" alt="">
    </label>

      <div class="nav navbar-nav" id="menu" [class.active]="menuVisible">
        <a class="nav-item nav-link" href="Ventas">Ventas</a>
        <!--<a class="nav-item nav-link" href="Canjes">Canjes</a>-->
        <a class="nav-item nav-link" href="Compras">Compras</a>
        <a class="nav-item nav-link" href="Productos">Productos</a>
        <a class="nav-item nav-link" href="Clientes">Clientes</a>
        <a class="nav-item nav-link" href="Insumos">Insumos</a>
      </div>

  </div>
</nav>