
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="login-background">
    <div>
        <img src="assets/logoEmma.png" class="logoEmma" alt="">
        
        <div class="LoginBox"> 
            <div>
            <h2 class="LoginText">INICIAR SESIÓN</h2>
            <div>
                <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
                    <p>Usuario</p>
                    <div class="form-group">
                        <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="usuario@ejemplo.com">
                    </div>
                    <p>Contraseña</p>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" id="inputPassword" placeholder="contraseña">
                    </div>
                    <div class="botones">
                        <button type="submit" class="btn btn-primary mb-2" id="BTNLogin">Ingresar</button>
                        <button class="btn btn-primary mb-2" id="BTNPassword">Olvidé la contraseña</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>