<app-navbar></app-navbar>
<div class="firstRow">
    <div class="buttonsSections">
        <a type="button" class="btn btnStyle" href="Añadir/producto" id="btn1">Nuevo Producto</a>

      </div>
      <div class="input-container">
        <input type="search" class="input-with-image" name="busqueda" placeholder="Buscar" (keyup)="filtrarProductos($event)" autocomplete="off">

  </div>
</div>
<section class="Container">
  
    <div class="ProductosCard"  *ngFor="let producto of productos;let iControl = index">
        <img [src]="producto.ImagenProducto" class="imageProduct" alt="">
        <div class="productDetails">
            <h6>{{ producto.NombreProducto }}</h6>
            <p class="details">Precio:${{ producto.PrecioProducto}}</p>
            <p class="details">Stock: {{ producto.stockProducto}}</p>
            <a  class="btn btn-danger btnStyle2" (click)="borrarRegistro(producto.IDProducto, iControl)" role="button">Borrar</a>
            <a  class="btn btn-warning btnStyle2" href="Editar/producto/{{producto.IDProducto}}" role="button">Editar</a>
        </div>
    </div>
    

</section>
